    //silence-is-golden
    img {
        max-width: 100%;
        height: auto;
    }
    
    header {
        background-image: url("../assets/image1.png");
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        min-height: 100%;
        align-items: center;
    }
    /* image 1 */
    /*caption*/
    
    h1 {
        font-size: 48px;
        text-transform: uppercase;
        text-align: center;
        color: $titleColor;
        font-family: $josefin;
        font-weight: 700;
        padding-top: 15%;
    }
    /*header__text*/
    
    .header__text {
        color: $titleColor;
        text-align: center;
        letter-spacing: 0.2em;
        font-family: $josefin;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 3%;
        /* identical to box height, or 118% */
    }
    /* Search Bar */
    
    .header__searchform {
        width: 30.8125em;
        height: 3.9375em;
        background-color: $titleColor;
        border: none;
        text-align: center;
        font-size: 14px;
        display: inline-block;
        letter-spacing: normal;
        align-items: center;
        position: relative;
        left: 35%;
        top: auto;
        &-input {
            width: 20.8125em;
            height: 3.9375em;
            font-family: $josefin;
            font-weight: 400;
            font-style: normal;
            line-height: 1.625em;
            letter-spacing: 0.175;
            border: none;
            margin-left: 15px;
        }
        /* Search */
        &-btn {
            position: relative;
            font-family: $aleo;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 1.625em;
            /* identical to box height, or 186% */
            display: flex;
            text-align: center;
            letter-spacing: 0.0875em;
            text-transform: uppercase;
            color: $titleColor;
            width: 9.5625em;
            height: 3.9375em;
            background: #5474FD;
            box-sizing: border-box;
            align-items: center;
            float: right;
            border: none;
            padding-left: 22px;
        }
    }
    
    .header__scroll {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 8%;
        padding-bottom: 8%;
        &-txt {
            font-family: $josefin;
            color: $titleColor;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 1.625em;
            /* identical to box height, or 186% */
            letter-spacing: 2.8px;
            text-decoration: none;
        }
        &-arrow {
            color: white;
        }
    }
    
    .main-nav {
        background-color: #5474FD;
        max-width: 100%;
        height: 100px;
        display: flex;
        &__logo {
            margin-right: 25%;
            margin-left: 15%;
            margin-top: 2.5%;
        }
    }
    
    .main-nav__items {
        margin-top: 1.5%;
        border-radius: 5px;
        font-family: $aleo;
        color: #fff;
        display: block;
        padding: 15px;
        text-decoration: none !important;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: $lineheight;
        color: $titleColor;
    }